ion-slides, ion-slide{
    display: flex;
    flex-grow: 1;
    width: 100%;
   height: 100%;
}

// ion-item{
//     display: flex;
//    // flex-grow: 0;
//  //   height: 10%;
// }

// .swiper-pagination .swiper-pagination-bullets{
//     display: none !important;
// }